$grey-hover:rgba(158,158,158,0.2);
$icon-color: #ABB2B9;

.separator {
  height: 30px;
}

md-icon.name, md-icon.email {
    margin-left: 4px;
    color: $icon-color;
}

md-content.md-no-momentum.form-box{
    padding: 35px 55px;
}

.card-contact {

}

.card-contact:hover {
  background-color: $grey-hover;
}
