
<div class="container" ng-controller="contactCtrl">
  <md-toolbar>
      <div class="md-toolbar-tools" layout-align="space-between center">
        <h2>Add new contact</h2>
        <md-button class="md-raised" type="button" ui-sref="contacts">Back Home
      </md-button>
      </div>
    </md-toolbar>
    <div class="separator" layout="row" flex="100"></div>
  <form name="myForm" ng-submit=" myForm.$valid && addContact()" >
    <md-content class="md-no-momentum form-box">
      <md-input-container class="md-icon-float md-block">
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="newContact.name" type="text" placeholder="Name" ng-required="true" name="name">
        <div ng-messages="myForm.name.$error" ng-show="myForm.name.$touched" ng-if="myForm.name.$touched">
          <div ng-message="required">Name is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="newContact.email" type="email" placeholder="Email" name="email" ng-required="true">
        <div ng-messages="myForm.email.$error" ng-show="myForm.email.$touched">
          <div ng-message="required">Email is required.</div>
        </div>
      </md-input-container>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" type="submit" >Add</md-button>
      </section>

    </md-content>
  </form>
</div>

